<span class="event">
    <h1><a href="{{relPath}}{{address}}">Event: {{title}}</a></h1>
    <span class="date">{{startDate}} -- {{endDate}}</span>
    <div class="preview">
        {{{preview}}}
        <a href="{{relPath}}{{address}}">(details)</a>
    </div>
</span>
