<span class="article">
    <h1><a href="{{relPath}}{{address}}">{{prefix}}{{title}}</a></h1>
    <span class="date">{{date}}</span>
    <div class="preview">
        {{{preview}}}
        <a href="{{relPath}}{{address}}">(more...)</a>
    </div>
</span>
